# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Equality/The same object/out/
/Topics/Equality/The same object/out/production/classes/
/Topics/Equality/Theory/out/
/Topics/Equality/Theory/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/For loop and lists/Circular shift/out/
/Topics/For loop and lists/Circular shift/out/production/classes/
/Topics/Multi-dimensional list/Correct statements/out/
/Topics/Multi-dimensional list/Correct statements/out/production/classes/
/Topics/Multi-dimensional list/Cube of zeros/out/
/Topics/Multi-dimensional list/Cube of zeros/out/production/classes/
/Topics/Taming exceptions/Theory/out/
/Topics/Taming exceptions/Theory/out/production/classes/
/Topics/The try-catch-finally statement/Parting words/out/
/Topics/The try-catch-finally statement/Parting words/out/production/classes/
/Topics/The try-catch-finally statement/The Answer is/out/
/Topics/The try-catch-finally statement/The Answer is/out/production/classes/
/Topics/The try-catch-finally statement/Theory/out/
/Topics/The try-catch-finally statement/Theory/out/production/classes/
/Topics/When expression/Strings as objects/out/
/Topics/When expression/Strings as objects/out/production/classes/
/Topics/Work with MutableLists/Guard On The Gate/out/
/Topics/Work with MutableLists/Guard On The Gate/out/production/classes/
/Topics/Work with MutableLists/Initialization/out/
/Topics/Work with MutableLists/Initialization/out/production/classes/